/* Container styling */
.hero {
    display: flex;
    gap: 30px;
}

.eyebrow {
    margin-top: 10px;
}


/* List container */
ul#element-list {
    list-style: none;
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
}

/* Individual dots */
li.element {
    
    margin: 20px 0px 10px 0px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    /* Apply the bounce animation */
    animation: bounce 0.5s infinite alternate;
    background-color: rgb(30, 200, 230);
    /* Purple */

}

/* Staggered animation delays for the ripple effect */
li.element:nth-child(1) {
    animation-delay: 0s;
}

li.element:nth-child(2) {
    animation-delay: 0.1s;
}

li.element:nth-child(3) {
    animation-delay: 0.2s;
}

li.element:nth-child(4) {
    animation-delay: 0.3s;
}

li.element:nth-child(5) {
    animation-delay: 0.4s;
}

/* The bouncing keyframes */
@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

.hidden {
    display: none;
}